GitHub-PR-Guard.json
{
  "name": "GitHub PR Guard",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Get data from the immediate previous node (HTTP Request)\nconst diffContent = $input.first().json.data;\n\n// Get data from the GHWebHook node (2 nodes back)\nconst webhookData = $('GHWebHook').first().json.body;\n\n// Extract repository information\nconst repository = {\n  name: webhookData.repository?.name || '',\n  fullName: webhookData.repository?.full_name || '',\n  owner: webhookData.repository?.owner?.login || '',\n  url: webhookData.repository?.html_url || ''\n};\n\n// Extract PR information\nconst pullRequest = {\n  number: webhookData.pull_request?.number || webhookData.number || '',\n  title: webhookData.pull_request?.title || '',\n  url: webhookData.pull_request?.html_url || '',\n  state: webhookData.pull_request?.state || '',\n  author: webhookData.pull_request?.user?.login || '',\n  base: webhookData.pull_request?.base?.ref || '',\n  head: webhookData.pull_request?.head?.ref || ''\n};\n\n// Extract commit information\nconst commit = {\n  sha: webhookData.pull_request?.head?.sha || webhookData.after || '',\n  message: webhookData.pull_request?.title || webhookData.head_commit?.message || ''\n};\n\nconst patchUrl = webhookData.pull_request?.patch_url || '';\n\n// Return structured data combining both sources\nreturn {\n  json: {\n    repository,\n    pullRequest,\n    commit,\n    diffContent,\n    patchUrl,\n    action: webhookData.action || ''\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        224
      ],
      "id": "4dc6e55c-86a2-4e42-9cad-36ce75a4cb62",
      "name": "Extract Code Difference"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n      \"repository\": {\n\t\t\t\"type\": \"object\",\n            \"properties\": {\n              \"owner\": {\n                \"type\": \"string\",\n                \"description\": \"name of the repository owner\"\n              },\n              \"name\": {\n                \"type\": \"string\",\n                \"description\": \"name of the repository\"\n              }\n            }\n      },\n\t\t\"hasCriticalIssues\": {\n\t\t\t\"type\": \"boolean\",\n\t\t\t\"description\": \"Whether critical or high severity issues were found\"\n\t\t},\n\t\t\"issues\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"description\": \"List of all issues found\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"object\"\n\t\t\t}\n\t\t},\n\t\t\"summary\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"Brief summary of the code quality analysis\"\n\t\t},\n\t\t\"issueCount\": {\n\t\t\t\"type\": \"object\",\n\t\t\t\"description\": \"Count of issues by severity level\"\n\t\t},\n        \"prNumber\":\n          {\n            \"type\": \"integer\",\n            \"description\": \"pr number\"\n          }\n\t}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -80,
        448
      ],
      "id": "0225690d-02fb-411d-b3e2-ca6b1972802c",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Repository: {{ $json.repository.owner }}/{{ $json.repository.name }}\nPR Number: {{ $json.pullRequest.number }}\nDiff: {{ $json.diffContent }}\n\nCode Diff:\n{{ $json.diffContent }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert code reviewer specializing in security, performance, and code quality.\nIMPORTANT: Extract the repository owner, repository name, and PR number from the input text and include them in your response.\n\nAnalyze the provided code diff and identify:\n1. Security vulnerabilities (hardcoded secrets, SQL injection, XSS, etc.)\n2. Code smells and anti-patterns\n3. Performance issues\n4. Missing test coverage indicators\n5. Best practice violations\n\nFor each issue found, provide:\n- Severity level (critical, high, medium, low)\n- Issue type\n- Description\n- Line number or file location\n- Recommended fix\n\nReturn your analysis in the structured format defined by the output parser, making sure to include the repository information and PR number you extracted from the input."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -208,
        224
      ],
      "id": "531af75a-2966-4426-ac6b-6fbda6cd03fa",
      "name": "AI Code Quality Analyser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "869dd011-ee20-4f00-a367-1209f726bb6a",
              "leftValue": "={{ $json.output.hasCriticalIssues }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        144,
        224
      ],
      "id": "fa0cb7e4-8667-4335-b285-3a4bbc90833f",
      "name": "If"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -208,
        448
      ],
      "id": "0790d952-7853-4d0e-9129-28a07691d347",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "API account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "review",
        "owner": {
          "__rl": true,
          "value": "={{ $json.repository.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $json.repository.name }}",
          "mode": "name"
        },
        "pullRequestNumber": "={{ $json.prNumber }}",
        "event": "requestChanges",
        "body": "Critical issues found. PR merge blocked until issues are resolved.",
        "additionalFields": {
          "commitId": "={{ $json.commitSha }}"
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        368,
        416
      ],
      "id": "3bd38d5d-e40d-4485-b2b5-3f89a2bcfb28",
      "name": "Block PR Merge",
      "webhookId": "196eb8ad-d2b5-454a-8b49-a94ad0307881",
      "credentials": {
        "githubOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "API account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "github-pr-guard",
          "mode": "name"
        },
        "text": "=🚨 *Code Quality Alert*\nRepository: {{ $json.output.repository.owner }}/{{ $json.output.repository.name }}\nPR #{{ $json.output.prNumber }}  {{ $json.output.summary }}\nCritical Issues: {{ $json.issueCount.critical || 0 }}\nHigh Issues: {{ $json.output.issueCount.high || 0 }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        368,
        32
      ],
      "id": "7b9babc5-a962-49eb-a3c0-a01c7d3e59aa",
      "name": "Send a message",
      "webhookId": "b55c712c-fd6b-4e5b-90a1-308f2342e486",
      "credentials": {
        "slackOAuth2Api": {
          "id": "YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "createComment",
        "owner": {
          "__rl": true,
          "value": "={{ $json.output.repository.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $json.output.repository.name }}",
          "mode": "name"
        },
        "issueNumber": "={{ $json.output.prNumber }}",
        "body": "=## 🤖 AI Code Quality Review\n\n{{ $json.output.summary }}\n\n### Issues Found:\n{{ $json.output.issues.map(i => `- **${i.severity}**: ${i.description} (${i.location})`).join(\"\\n\") }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        368,
        224
      ],
      "id": "9e421606-2f04-48b6-8ab0-116dffa6eb16",
      "name": "Create a comment on a PR",
      "webhookId": "7e4a4583-6da9-416e-8ce3-ba09b3110caa",
      "credentials": {
        "githubOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "API account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.body.pull_request.diff_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -656,
        224
      ],
      "id": "36605c18-c6ab-4648-87c8-db44ffeef41c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-code-quality-guard",
        "options": {
          "responseData": "{\"status\": \"received\"}"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -880,
        224
      ],
      "id": "b92b99fc-55ee-4896-94f4-cf3b3e541df7",
      "name": "GHWebHook",
      "webhookId": "3c3ed66f-44ed-435b-ae84-e05b592d8623"
    }
  ],
  "pinData": {},
  "connections": {
    "Extract Code Difference": {
      "main": [
        [
          {
            "node": "AI Code Quality Analyser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Code Quality Analyser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Code Quality Analyser": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create a comment on a PR",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Block PR Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Code Quality Analyser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create a comment on a PR": {
      "main": [
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract Code Difference",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GHWebHook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4a7699b4-7f84-428c-96fe-ecd804a5a91c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "96dfe948c5803eefa9e46694a8ed53c893b4324a5c4f873f648605a4c0db4a45"
  },
  "id": "x94Oth3cdAMsvWAs",
  "tags": [
    {
      "updatedAt": "2025-12-12T08:54:28.400Z",
      "createdAt": "2025-12-12T08:54:28.400Z",
      "id": "nbRZvnSyPlzfxlDG",
      "name": "Test"
    }
  ]
}
